<div id="menu" class="col-md-3">
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="active"><a href="{{ path('backend') }}"> Menu </a></li>
        <li role="presentation"> <a href="{{ path('pool_video_manage') }}"> Gestion Pool Video </a></li>
        <li role="presentation"> <a href="{{ path('video_manage') }}"> Gestion Video </a></li>
    </ul>
</div>