{% extends "layout.html.twig" %}

{% block body %}

    <h3>Inscription</h3>

    <div class="well">
        {{ form(form) }}
        <a href="{{ path('login') }}" class="btn btn-default"> Back </a>
    </div>

{% endblock %}
